footer.footer {
	padding: 40px 30px 20px;
	
	.row {
		.left {
			width: 100%;
		}
		.right {
			width: 100%;
			margin-top: 25px;

			.footer-links {
				ul {
					-webkit-column-count: 1;
    				column-count: 1;
				}
			}
		}
	}
}