&.footer {
	width: 80%;
	margin: 30px auto;
	.flex-box {
		@include flex-justify();
		align-items: center;

		.a-link {
			font-size: 14px;
			font-weight: 400;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

			&:first-child {
				font-weight: 700;
			}
		}
	}

	.copy {
		display: none;
	}
}

// ::placeholder {
//   	color: #333333;
//   	opacity: 1; /* Firefox */
//   	font-weight: 700;
// }

// :-ms-input-placeholder { /* Internet Explorer 10-11 */
//  	color: #333333;
//  	font-weight: 700;
// }

// ::-ms-input-placeholder { /* Microsoft Edge */
//  	color: #333333;
//  	font-weight: 700;
// }