main.main {
	.home {
		.banner {
			.banner-container {
				position: relative;

				.banner-heading {
					position: absolute;

					top: 50%;
					left: 200px;
					transform: translate(-100px, -50%);

					font-size: 80px;
					color: #009FC2;
					width: 500px;
					margin: 0;
					padding: 0;
					line-height: 73px;
				}
			}
			img {
				width: 100%;
				display: block;
			}
		}

		.content-form {
			.flex-box {
				@include flex-justify();

				.box {

					.box-container {
						padding: 100px;

						&.visible-sm {
							display: none;
						}
					}
					
					width: 50%;
					font-size: 18px;

					.heading-2 {
						font-size: 28px;
					}

					&.right {
						background-color: #009FC3;
						color: #fff;

						.heading-2 {
							font-size: 28px;
						}

						.error {
							display: none;
							
							&.active {
								display: block;
						    	color: #800202;
							    font-size: 16px;
							    text-align: center;
							}
						}

						.form-heading {
							width: 100%;
							height: 43px;
							background-color: #fff;
						    color: #009FC3;
						    font-weight: 700;
						    line-height: 43px;
						    text-align: center;
						    margin: 50px 0 30px 0;
						}

						.field-container {
							margin: 10px 0;

							label {
								width: 140px;
								display: inline-block;
							}

							input[type=text] {
								width: calc(100% - 145px);
								height: 43px;
								text-indent: 10px;

								&:focus {
									outline: none;
								}
							}
						}

						.btn-container {
							.btn-submit {
								width: 180px;
								height: 56px;

								margin-top: 60px;
								border: 1px solid #fff;
								box-sizing: border-box;
								background-color: transparent;
								color: #fff;
								cursor: pointer;

								&:focus {
									outline: none;
								}
							}
						}
					}
				}
			}
		}

		.learn-more {
			background: #DFEFF6;
			padding: 100px 0;

			.block {
				width: 80%;
				margin: 30px auto;
				font-size: 18px;

				.heading-4 {
					font-size: 28px;
					text-align: center;
					font-weight: 700;
					margin: 0;
				}

				p {
					text-align: center;
				}

				.flex-box {
					@include flex-justify();
					margin-top: 50px;

					.box {
						width: calc(33.33333% - 15px);
						margin: 0 7.5px;
						img { width: 100%; }
					}
				}
			}
		}
	}
}