///////////////////
// Media Queries //
///////////////////

// Largest devices
@media (max-width: $screen-lg) {

}

// Large devices
@media (max-width: $screen-md) {
	.visible-md {
		display: block;
		background-color: #F6F6F6;
		height: 66px;
		text-align: center;
    	line-height: 66px;

    	a {
    		color: #C4C4C4;
    		font-size: 14px;
    	}    	
	}

	@import 'home/home-md';
}

// Medium devices
@media (max-width: $screen-sm) {
	@import 'home/home-sm';
	@import 'footer/footer-sm';
}

// Small devices
@media (max-width: $screen-xs) {
	@import 'header/header-xs';	
	@import 'home/home-xs';
}
