<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <title></title>

    <meta name="keywords" content="" />
    <meta name="rights" content="" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="icon" href="favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon.png">
    <link type="text/plain" rel="author" href="humans.txt" />
    <!-- END: MOBILE VIEWPORT -->
 
    <!-- OPEN GRAPH META DATA START -->
    <meta name="og:title" content="">
    <meta name="og:type" content="Website">
    <meta name="og:image" content="">
    <meta name="og:url" content="">
    <meta name="og:site_name" content="">
    <meta name="og:description" content="">
    <!-- OPEN GRAPH META DATA END -->

    <!-- TWITTER CARDS -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:src" content="">
    <!-- TWITTER CARDS -->
    <link rel="icon" href="">
    
    <!-- START: STYLES -->
    <link rel="stylesheet" type="text/css" media="screen" href="theme/dist/master.min.css">

    <!-- <script>window.jQuery || document.write('<script src="theme/scripts/vendor/jquery.min.js"><\/script>')</script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="flex-box">
                <a href="/" class="logo">
                    <img src="/theme/img/template/logo.png">
                    <span class="text-logo">
                        <h1 class="main-text-logo">Chula Vista Electric Co.</h1>
                        <span class="sub-text-logo">Innovative Electrical Contracting &amp; Network Systems</span>
                    </span>
                </a>

                <nav class="navigation">
                    <ul class="menu">
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Projects</a>
                        </li>
                        <li>
                            <a href="#">Renewable Energy</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li class="active">
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
             
            <div class="blocker"></div>
        </main>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="footer-links">
                    <ul>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Renewable Energy</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="display-flex">
                <div class="box logo-container">
                    <a href="#">
                        <img src="/theme/img/template/footer-logo.png" alt="Lorem Ipsum" />
                        <h2>Chula Vista Electric Co.</h2>
                        <p>Innovative Electrical Contracting &amp; Network Systems</p>
                    </a>
                </div>
                <div class="box contact-details">
                    <p>
                        CVE exists to empower organizations with reliable and advanced electrical systems and networks.
                    </p>
                    <div class="contact-info">
                        <p>
                            <i class="fa fa-mobile" aria-hidden="true"></i><span>619-420-4500</span>
                        </p>
                        <p>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <a href="mailto:contactus@c-v-e.com"><span>contactus@c-v-e.com</span></a>
                        </p>
                        <div class="socials">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box contact-form">
                    <h2>CONTACT US</h2>
                    <div class="form-container">
                        <input type="text" placeholder="First Name" class="input-field" />
                        <input type="text" placeholder="Last Name" class="input-field" />
                        <input type="text" placeholder="Email Address" class="input-field" />
                        <textarea placeholder="Message" class="input-field text-area"></textarea>
                        <input type="button" name="submit" class="btn-submit" value="Submit" />
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>
                    <span>COPYRIGHT ALL RESEARVED &copy; <span class="copyright-year"></span> CHULA VISTA ELECTRIC CO.</span>
                    |
                    <span>WEB DESIGN BY DOG AND ROOSTER, INC.</span>
                </p>
            </div>
        </footer>
    </div>

    <!--START INCLUDING SCRIPTS HERE-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="theme/dist/master.min.js"></script>
    <!--END SCRIPTS-->
</body>
</html>