&.header {
	width: 80%;
	margin: 30px auto;

	.flex-box {
		@include flex-justify();
		align-items: center;

		.phone-number {
			font-weight: 700;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}